:root{
    --first-color-dark : #901C1C;
    --first-color-light : #D3573C;
    --second-color-dark: #525252 ;
    --second-color-light: #FAFAFA ;
    --font-fam : "DM Sans";
}

a { text-decoration: none; }
.absolute { position: absolute; }
body {
    font: normal normal 18px var(--font-fam);
	font-size: 18px;
}
.first-color-text { color: var(--first-color-dark) ; }
.flex{ display: flex; }
.hidden{ display: none ; }
.inline-block{ display: inline-block;}
li { list-style: none; }
.name-photographer { 
	color: var(--first-color-light); 
	font-weight: normal;
}
nav a { margin-right: 1%; }
.profil img {
	object-fit: cover;
	border-radius: 100%;
}
.profil p:first-of-type { color: var(--first-color-dark); }
.profil p:last-of-type { color: var(--second-color-dark); }
.profil ul { margin-top: 5px; }
.tags {
	border: 1px solid #C4C4C4;
	border-radius: 20px;
	padding: 2px 5px;
	font-size: small;
	font-weight: bold;
	margin: 0 1%;
}
.tags:hover {
    background-color: var(--first-color-dark);
    color: white;
    font-weight: normal;
	border-color: var(--first-color-dark);
}
.tags span::before{ content: "#"; }
ul { 
	margin: 0; 
	padding: 0;
}
ul.flex { justify-content: center; }


@media screen and (max-width : 1023px) {
	#fishEye-HomePage {
		margin: 10% 5% 7%;
		width: 40%;
		overflow: hidden;
	}
	header img { width: 100% ; }
}

@media screen and (min-width : 1024px) {
	#fishEye-HomePage {
		margin-top: 3%;
		margin-left: 7%;
	}
	header img {
		width: 200px;
		height: 50px;
	}
}