h1 {
	right: 3%;
	font-weight: normal;
}
header {
	top: 0;
	left: 0;
	text-align: left;
	align-items: flex-end;
}
header nav {
    padding: 1% 0 2%;
	margin: 0 auto;
    text-align: center;
}
header nav li { margin-right: 1%; }
.name-photographer { margin: 5% auto 0%; }
nav .tags { display: inherit; }
#pass-cont {
	background-color: #DB8876;
	color: black;
	font-weight: 700;
	line-height: 1.5em;
	border-radius: 5px;
	text-align: center;
	padding: 3px 10px;
	position: fixed;
    top: 5px;
	z-index: 9;
}
#photographers-list { margin: 10% auto 0; }
#photographers-list .profil {
	overflow: hidden;
	flex-direction: column;
	text-align: center;
	margin: 2% auto;
}
.profil p {
	margin: 0px auto 3px;
	font-size: x-small;
}
.profil p:first-of-type { 
	font-size: small; 
	margin-top: 5px;
}
.profil p:nth-of-type(2) { color: black; }
.profil img { margin: 0 auto; }

@media screen and (max-width : 1023px) {
	#fishEye-HomePage { align-self: flex-start; }
	h1 {
		top: 0%;
		margin-top: 12%;
		font-size: large;
	}
	header {
		flex-direction: column;
		width: 100%;
	}
	nav ul {
		flex-wrap: wrap;
		width: 95%;
	}
	nav ul li { margin-bottom: 2%; }
	#pass-cont { margin-left: 25%; }
	#photographers-list {
		margin-top: 57%;
		flex-direction: column;
	}
	#photographers-list .profil {
		width: 80%;
		margin-bottom: 5%;
	}
	.profil img {
		width: 70%;
		margin-bottom: 5%;
	}
}

@media screen and (min-width : 1024px) {
	h1 {
		top: 1%;
		font-size: 1.85em;
	}
	header { width: 70%; }
	nav ul { width: 100%; }
	#pass-cont { margin-left: 45%; }
	#photographers-list {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#photographers-list .profil {
		width: 26%;
		min-height: 375px;
	}
	.profil img {
		width: 50%;
		height: 50%;
	}
}