#book {
	overflow: hidden;
	min-height: 50%;
	margin: 2% auto;
}
#close-lightbox {
	float: left;
	background-image: url("../img/icons/close.svg");
	height: 15%;
	margin: 0 -10% 0 10%;
}
#close-modal-form {
	float: right;
	background-image: url("../img/icons/close-icon-btn.png");
	background-size: contain;
}
#contact { background-color: var(--first-color-light); }
#contact div.err .input-info {
	transform: translateY(0);
	opacity: 1;
	height: auto;
	color: var(--first-color-dark);
	padding: 1%;
	font-weight: bold;
}
#contact div p { margin: 0; }
#contact h1 { font-weight: normal; }
#contact input, #contact textarea {
	border: none;
	border-radius: 5px;
}
#contact input[type="submit"] {
	background-color: var(--first-color-dark);
	color: white;
	cursor: pointer;
}
#contact .input-info {
	font-size: medium;
	color: white;
	clip: rect(0, 0, 0, 0);
	transform: translateY(-75px);
	opacity: 0;
	transition: all 300ms;
	height: 10px;
	margin-bottom: 10px;
}
#contact p {
	font-size: x-large;
}
#contact p input, #contact textarea {
	width: 95%;
	margin: auto;
	padding: 4% 2%;
	font-size: large;
}
#contact-form-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden auto;
	transition: opacity 250ms;
}
#contact-form-modal.closed {
	transform: translateY(-1000px);
	opacity: 0;
	transition: all 0ms 300ms;
}
#contact-form-modal.closed #contact {
	transform: translateY(-1000px);
	transition: transform 300ms 0ms;
}

#contact-form-modal.opened {
	transform: translateY(0px);
	opacity: 1;
}
#contact-form-modal.opened #contact {
	transform: translateY(0px);
	transition: transform 300ms 300ms;
}
#contact-form-modal.submitted #contact {
    transform: translateX(-500%) rotate(-360deg);
	transition-delay: 0ms;
}
.err::before {
	content: "!";
	color: var(--first-color-light);
	border: 2px solid;
	border-radius: 25px;
	width: 25px;
	text-align: center;
	font-weight: bold;
}
.err::before, .valid::before {
	float: right;
	margin: 50px 25px -50px;
	position: relative;
	z-index: 9;
}
#further-information { background-color: var(--first-color-light); }
#further-information p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.gallery {
	display: flex;
	justify-content: space-between;
	margin-top: 4%;
	height: 70%;
	max-height: 90%;
}
.gallery a img, .gallery a video {
	object-fit: cover;
	width: 100%;
    border-radius: 10px;
}
#gallery h2, .media a {
	margin: 0 auto;
	color: var(--first-color-dark);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.gallery a h2, .media a { width: 50%; }
.gallery .button-section { display: none ;}
.gallery .photo-container {
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 300ms;
}
h1 {
	padding: 0;
	margin: 0;
}
.interactiv-element {
    background-color: var(--first-color-dark);
    color: white;
    border-radius: 5px;
}
.interactiv-element:hover, .interactiv-element:focus {
	background-color: var(--first-color-light);
	color: black;
}
.invisible{ opacity: 0; }
.lightbox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: white;
	display: flex;
}
.lightbox a {
	overflow: hidden;
	display: none;
}
.lightbox a.activ {
	display: flex;
	flex-direction: column;
}
.lightbox a.activ img, .lightbox a.activ video {
	height: 93%;
	object-fit: cover;
	margin: 0 auto;
}
.lightbox .button-section:first-of-type {
	order: 0;
}
.lightbox .button-section:last-of-type {
	order: 99;
}
.lightbox .button-section a {
	display: block;
	background-repeat: no-repeat;
	background-position-y: center;
	width: 80%;
}
.lightbox h2 { text-align: left; }
.lightbox .like {
	display: none;
}
.like::after {
	content: "";
    background-size: cover;
	vertical-align: -1px;
    margin: 0 2px 0 4px;
    display: inline-block;
}
#like-total::after { 
	background-image: url("../img/icons/like_b.svg"); 
	width: 16px;
	height: 15px;
}
main {
    overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
.media a {
	text-align: right;
	font-weight: bold;
	font-size: larger;
}
.media .like::after{
	background-image: url("../img/icons/like_fc.svg");
	width: 19px;
	height: 19px;
}
#message{ resize: none; }
#next { background-image: url("../img/icons/next.svg"); }
#order-by {
	padding: 5px 10px 10px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	margin: -10px 0 0 85px;
	transition: all 250ms;
	border: none;
    text-align: left;
}
#order-by p {
	margin: 0;
	padding: 0;
	transition: all 250ms;
}
#order-by a {
	padding: 7px 10px;
	margin: 0px;
	border-bottom: 1px solid;
	font-size: medium;
	width: 100px;
	border-color: transparent;
	display: block;
	color: inherit;
}
#order-by::before {
	content: url("../img/icons/dropdown-close.png");
	float: right;
	margin-top: 6px;
}
#order-by-container.date-slct { transform: translateY(-36px); }
#order-by-container.title-slct { transform: translateY(-70px); }
#order-by.open { height: auto; }
#order-by.open #order-by-container { transform: translateY(0); }
#order-by.open::before { content: url("../img/icons/dropdown-open.png"); }
#order-by.open a:not(#title) { border-color: white; }
#order-by-container a:hover { color: white; }
#photographer-informations { 
	display: flex;
	width: 100%; 
}
#photographer-informations img { 
	border-radius: 100%; 
	object-fit: cover;
}
#previous {
	background-image: url("../img/icons/previous.svg");
	background-position-x: right;
	height: 100%;
}
.profil p:last-of-type { font-size: 0.8em; }
#send-message {
	position: absolute;
	background-color: var(--second-color-dark);
	margin: auto;
	transform: translateX(500%) rotate(360deg);
	color: var(--second-color-light);
	padding: 16% 4%;
	text-align: center;
	top: 7%;
	bottom: 7%;
	left: 0;
	right: 0;
	transition: transform 300ms;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#send-message p:first-of-type {
	font-size: xx-large;
	font-weight: bold;
	color: var(--first-color-light);
	max-width: 250px;
	margin: 0 auto 15%;
}
.submitted #send-message { transform: translate(0); }
.valid::before {
	content: "";
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: green;
	width: 15px;
	height: 10px;
	transform: rotate(135deg);
}

@media screen and (max-width : 1023px) {
	#close-modal-form {
		width: 20px;
		height: 20px;
	}
	#contact { text-align: center; }
	#contact, #send-message {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		border-radius: 7px;
	}
	#contact #close-modal-form, #contact h1, #contact div {
		margin: 5%;
		text-align: left;
	}
	#contact div {
		margin-top: 2%;
		margin-bottom: 0;
	}
	#contact input[type="submit"] {
		margin: 2% auto 0;
		font-size: large;
		font-weight: normal;
		padding: 2% 15%;
	}
	#contact label {
		display: block;
		margin-bottom: 2%;
	}
	#contact-form-link { padding: 2% 10%; }
	#book {
		overflow: hidden;
		min-height: 50%;
		margin: 2% auto;
	}
	#book form { display: none; }
	#book .media .like {
		font-size: small;
		font-weight: bold;
	}
	#close-lightbox { background-position: top left 3px; }
	#fishEye-HomePage { display: block; }
	#further-information {
		margin: 5% auto 20%;
		width: 80%;
		display: flex;
		justify-content: center;
		border-radius: 5px;
		padding: 2%;
	}
	#further-information p { margin: 0 5%; }
	.gallery { flex-direction: column; }
	#gallery.lightbox h2 { margin: 0; }
	.gallery a img, .gallery a video { max-height: 200px; }
	#gallery h2, .media a {
		font-size: medium;
		padding: 2% 0;
	}
	h1 { font-size: 2em; }
	header img { width: 100%; }
	.lightbox { padding: 50% 0; }
	.lightbox a.media {
		width: 74%;
		padding: 0;
	}
	.lightbox a.activ img, .lightbox a.activ video { width: 100%; }
	.lightbox .button-section { width: 13%; }
	.lightbox .button-section, .lightbox .media {
		margin: 10% 0;
		height: 100%;
	}
	.lightbox .button-section a {
		background-size: 30%, contain;
		margin: 0;
	}
	main { margin: 0 3%; }
	.media .like::after {
		width: 13px;
		height: 12px;
	}
	#message { height: 140px; }
	#next {
		background-position-x: 35%, left;
		height: 69%;
	}
	#photographer-informations div:nth-of-type(2) {
	  position: fixed;
	  bottom: 3%;
	  margin: 0 25%;
	  min-width: 60%;
	}
	#photographer-informations img {
		width: 110px;
		height: 110px;
		margin: 0;
	}
	#photographer-informations img {
		box-shadow: 0 1px 7px lightgray;
	}
	#photographer-informations .profil {
		width: 70%;
		margin: 0;
	}
	.profil p { margin: 2px auto; }
}

@media screen and (min-width : 1024px) {
	#close-modal-form {
		width: 35px;
		height: 35px;
		margin-top: 3%;
	}
	#contact {
		padding: 2%;
		margin: 5% auto 0;
	}
	#contact, #send-message {
		width: 500px;
		max-width: 90%;
	}
	#contact input[type="submit"] {
		font-weight: bold;
		padding: 4% 8%;
	}
	#contact h1 { margin-bottom: 5%; }
	#contact-form-link {
		padding: 15px 4%;
		margin-top: 5%;
		display: inline-block;
		font-size: medium;
	}
	#further-information {
		position: fixed;
		right: 3%;
		width: 222px;
		border-radius: 5px 5px 0 0;
		bottom: 0;
		height: 45px;
	}
	#further-information p {
		display: inline-block;
		width: 46%; 
	}
	.gallery { flex-wrap: wrap; }
	.gallery a img, .gallery a video { height: 90%; }
	.gallery a h2, .media a { padding: 1% 0; }
	#gallery h2, #gallery .media a { font-size: large; }
	.lightbox h2 {
		padding: 1% 0;
		width: 80%;
		font-size: x-large;
	}
	.gallery .photo-container {
		width: 29%; 
		height: 25%;
	}
	h1 { font-size: 3em; }
	.lightbox a.activ img, .lightbox a.activ video { width: 80%; }
	.lightbox a.media {
		width: 60%;
		height: 90%;
		margin: auto;
	}
	.lightbox .button-section {
		height: 100%;
		width: 20%;
	}
	.lightbox .button-section a { margin: auto; }
	main {
		margin: 0 7%;
		height: 89%; 
	}
	.media .like::after {
		width: 16px;
		height: 15px;
	}
	#message { height: 80px; }
	#next {
		background-position-x: left;
		height: 70%;
		margin-top: 30%;
	}
	#photographer-informations {
		background-color: var(--second-color-light);
		margin: 2% auto;
		max-height: 275px;
	}
	#photographer-informations div { margin: 4% auto 1%; }
	#photographer-informations div:nth-of-type(2) { width: 40%; }
	#photographer-informations img { 
		width: 13%;
		height: 75%;
		margin: 4%;	
		align-self: center;
		text-align: right; 
		max-width: 150px;
		max-height: 150px;
		min-width: 140px;
		min-height: 140px;
	}
	#photographer-informations div img { width: 75%; }
	#photographer-informations .profil {
		width: 40%;
		margin-left: 4%;
	}
	.profil p { margin: 5px 0 15px; }
}