#contact-form-link {
    padding: 4%;
    margin-top: 5%;
    display: inline-block;
}
div.littl a {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}
#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
    margin-top: 4%;
}
#gallery div.littl {
	width: 30%;
	overflow: hidden;
	max-height: 541px;
	margin-bottom: 2%;
	display: flex;
}
#gallery div a img {
	height: 90%;
	object-fit: cover;
	width: 100%;
}
#gallery div h2, #gallery div p {
	width: 50%;
	margin: 0 auto;
	padding: 1% 0;
}
.hide { display: none; }
.interactiv-element {
    background-color: var(--first-color-dark);
    color: white;
    border-radius: 5px;
}
main {
    margin: 0 7%;
  }
#photographer-informations {
    display: flex;
    background-color: var(--second-color-light);
    max-height: 300px;
}
#photographer-informations div {
    width: 30%;
    overflow: hidden;
    margin: 4%;
}
#photographer-informations div img {
    width: 39%;
    object-fit: cover;
    border-radius: 86px;
    height: 99%;
}
#photographer-informations div:last-child {
    text-align: right;
}
#photographer-informations ul {
	padding: 0;
}
